// Шапка
.nav
	padding 5px 0
	background-color greyHeader

// Обертка
.nav-wrap
	display flex
	color greyTxtHeader
	justify-content space-between
	align-items center
	flex-wrap wrap

// Контакты
.nav__cont
	color greenTxt
.nav__cont-phone,
.nav__cont-mail
	padding-left 20px
	background-repeat no-repeat
	background-position left center
.nav__cont-mail
	margin-top 2px
	background-image url('../../images/nav-mail.png')
.nav__cont-phone
	background-image url('../../images/nav-phone.png')

// Поиск
.nav__search
	position relative
	width 41px
	height 34px
.nav__search-block
	position absolute
	top 0
	right 0
	padding-right 36px
	padding-left 5px
	width 100%
	height 100%
	color greyTxtHeader
	background-color greyHeader
	background-image url('../../images/nav-search.png')
	background-repeat no-repeat
	background-position calc(100% - 5px) center
	border  1px solid #b7b7b7
	transition width .2s ease
.nav__search-block:focus
	width 200px

// Навигация
.nav__nav
	display flex
	justify-content space-between
.nav__nav-item
	position relative
	padding 0 20px
	text-decoration none
	color inherit
	transition .2s ease
.nav__nav-item:hover
	text-decoration underline
	color greenTxt

.nav__nav-item:after
	position absolute
	top 50%
	right 0
	height 120%
	content ''
	border-right 1px solid #b7b7b7
	transform translateY(-50%)
.nav__nav-item:last-child:after
	display none
.fa-chevron-down__nav
	font-size 10px
