// Первый блок статей
.main-art1
	display block

// Заголовок блока
.block-title__txt
	display inline-block
	padding-right 15px
	font-family 'Roboto'
	font-size 30px
	color greyTxt
	float left

.block-title__line
	height 0
	border 1px solid greyTxt

.block-title
	display flex

.block-title__line-wrap
	flex-grow 1
	display flex
	align-items center
.block-title__line
	flex-grow 1
	margin-top 4px
