// Первый блок статей
.main-art1
	display block

// 1 ряд
.main-1row
	display flex
	justify-content space-between

// Заголовок блока
.block-title__txt
	padding-right 15px
	display inline-block
	float left
	font-size 30px
	color greyTxt

.block-title__line
	margin-top 4px
	height 0
	flex-grow 1
	border 1px solid greyTxt

.block-title
	display flex

.block-title__line-wrap
	flex-grow 1
	display flex
	align-items center

// Добро пожаловать
.welcome-wrap
	width 550px

.welcome
	padding 30px 45px
	height 100%

.welcome__title
	padding-bottom 20px
	display inline-block
	font-size 40px
	font-weight 500
	color greyTxt
	border-bottom 1px solid #949494
.welcome__text
	padding-top 20px
	font-size 18px
	line-height 26px
	color #000

// Карточки новостей
.art
	display flex
	height 100%
	flex-direction column
.art__img
	width 100%

.art__text-block
	position relative
	padding-bottom 60px

.art__title
	margin-top 20px
	padding 0 30px
	font-size 20px
	font-weight 500

.art__link
	position absolute
	right 30px
	bottom 25px
	display block
	font-size 16px
	text-align right
	text-decoration none
	color #000

.art__link:hover
	text-decoration underline

.welcome__text.welcome__text_art
	padding 20px 30px 0

.art-wrap
	width 341px

	// Горизонтальный блок
.art-horizontal
	display flex
	.art
		padding-bottom 0
		flex-direction row
	.art__img
		width inherit
	.art__text-block
		max-width 560px

// Баннер
// .main__banner-wrap
// 	margin 20px

.main__banner
	display flex
	justify-content center
	align-items center
	width 347px
	height 294px
	background-image url('../../images/main-banner.png')
	background-position center
	background-size cover
.main__banner-txt
	max-width 280px
	font-size 24px
	font-weight 500
	line-height 30px
	color #fff

// Качественные переводы с китайского
.main__trns
	display flex
	justify-content center
	align-items center
	height 420px
	text-align center
	background-image url('../../images/main-translations.png')
	background-position center
	background-size cover

.main__trns-inner
	max-width 1000px

.main__trns-title
	font-size 72px
	font-weight 600
	line-height 60px
	color #fff
.main__trns-txt
	margin 25px 0 30px
	font-size 24px
	line-height 30px
	color #fff
.main__trns-btn
	padding 7px 15px
	display inline-block
	font-size 24px
	cursor pointer
	color #fff
	background-color rgba(131, 0, 0, .7)
	border 3px solid rgba(255, 255, 255, .7)

// Место для баннерной рекламы на сайте
.main__bnr-big
	display flex
	height 246px
	font-size 36px
	font-weight 600
	color #fff
	justify-content center
	align-items center
	background-color #93cac4

// Возникли вопросы
.main__qstns
	padding 30px 0
	text-align center
	background-color greenBg
	.main__trns-btn
		display inline-block
		vertical-align middle
		background-color rgba(131, 0, 0, 1)
		border-color rgba(255, 255, 255, 1)

.main__qstns-title
	margin-bottom 25px
	font-size 30px
	font-weight 600
	text-shadow 5px 3px 5px rgba(0, 0, 0, .33)
	color #fff

.main__qstns-input
	margin 0 10px
	padding 12px
	font-style italic
	vertical-align middle
	border none

// 4 Важные статьи
.articles
	display flex
	justify-content space-between
