mixin main-art1()
	+b.main-art1&attributes(attributes)
		block
		.m30-0
			// Заголовок блока
			mixin blockTitle(title)
				.block-title.container 
					.block-title__txt= title
					.block-title__line-wrap
						.block-title__line
			.m30-0
				+blockTitle('Важные статьи')
			// Добро пожаловать
			.welcome-wrap
				.welcome.block-shadow
					.welcome__title Добро пожаловать!
					.welcome__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.
			mixin article(img, title, txt, lnk)
				.art.block-shadow
					img(src= img).art__img
					.art__text-block
						.art__title= title
						.welcome__text.welcome__text_art= txt
						a(href= lnk).art__link Читать полностью
			.art-wrap
				+article('images/main-art.png', 'Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста ', '#')
			.art-wrap
				+article('images/main-art2.png', 'Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста ', '#')
			.art-horizontal
				+article('images/main-art3.png', 'Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста ', '#')
			.main__banner-wrap
				.main__banner
					.main__banner-txt Какой-то интересный заголовок может быть здесь. Кликабельный
			// Качественные переводы
			.main__trns
				.main__trns-inner
					.main__trns-title Качественные переводы с китайского языка
					.main__trns-txt Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке
					mixin redBtn(text)
						.main__trns-btn= text
					+redBtn('Оформить заявку')
			// Важные новости
			.m30-0
				+blockTitle('Важные статьи')
				.art-wrap
					+article('images/main-art4.png', 'Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста ', '#')
				.art-wrap
					+article('images/main-art5.png', 'Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста ', '#')
				.art-wrap
					+article('images/main-art6.png', 'Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста ', '#')
				.art-wrap
					+article('images/main-art7.png', 'Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста ', '#')
			// Место для баннерной рекламы на сайте
			.main__bnr-big-wrap.container
				.main__bnr-big-txt Место для баннерной рекламы на сайте
			// Возникли вопросы?
			.main__qstns-wrap
				.main__qstns
					.main__qstns-title Возникли вопросы? Оставьте свои контактные данные и наш менеджер свяжется с вами.
					mixin mainInput(name, plch)
						input(type='text' name= name placeholder= plch).main__qstns-input
					+mainInput('name', 'Имя')
					+mainInput('tel', '+375')
					+mainInput('mail', 'Email')
					+redBtn('Отправить')
