mixin main-art1()
	+b.main-art1&attributes(attributes)
		block
		.m30-0
			// Заголовок блока
			.block-title.container 
				.block-title__txt Важные статьи
				.block-title__line-wrap
					.block-title__line
