siteWidth = 1250px // Ширина сайта
greenTxt = #9eb45a // Зеленый цвет текста
greenBg = #adc85a // Зеленый фон "Оставьте контакты"
greyHeader = #2d2d2d // Темно-серый фон в шапке
greyTxtHeader = #b7b7b7 // Серый текст в шапке
greyTxt = #494949 // Серый текст
greyLine = #141414 // Серая линия
blocksBg = #f3f3f3 // Серый фон блоков
greySepar = #cccbcb // Серый разделитель в футере
