// Сетка
.container
  margin auto
  padding 0 10px
  width 100%
  max-width siteWidth

.col
  margin 5px

// Общие стили
.clo-fff
  color #fff
.m30-0
  margin 30px 0

// Тень текстовых превьюшек
.block-shadow
  background-color blocksBg
  box-shadow 5px 3px 5px rgba(0, 0, 0, .19)

html
  font-family 'Roboto'
