// Сетка
.g-container
  margin auto
  width 100%
  max-width siteWidth

.g-col
  margin 0 5px
.g-cell
  margin 5px
.g-row
  margin 5px 0

// Общие стили
.clo-fff
  color #fff
.m30-0
  margin 30px 0

// Тень текстовых превьюшек
.block-shadow
  background-color blocksBg
  box-shadow 5px 3px 5px rgba(0, 0, 0, .19)

html
  font-family 'Roboto'

body
  position relative

// Наверх
.to-top
	position absolute
	display inline-block
	height 33px
	width 45px
	right 20px
	bottom 70px
	background-color greenTxt
.to-top:after
  content ''
  position absolute
  height 25px
  width 25px
  left 50%
  top 10px
  transform translateX(-50%) rotate(45deg)
  border-top 2px solid #fff
  border-left 2px solid #fff
