mixin header()
	+b.header&attributes(attributes)
		block
		.header-wrap.container
			img.col.header__logo(src='images/logo.png')
			nav.col.header__nav
				a(href='#').header__nav-item Законы КНР
				a(href='#').header__nav-item Бюро переводов
				a(href='#').header__nav-item Полезные ссылки
				a(href='#').header__nav-item Китаеведы, НИИ
				a(href='#').header__nav-item.header__nav-item-more Еще
					i.fas.fa-chevron-down.fa-chevron-down__header				
			.header__cont.col
				.header__cont-phone +375 29 123 45 67
				.header__cont-mail info@bambuk.com
			.header__search.col
				input(type='text').header__search-block
