// Слайдер на Главной
.main-slider
	display block
	background-image url('../../images/main-slider.png')
	background-repeat no-repeat
	background-size cover
	height 730px

.main-slider-txt
	display flex
	align-items center
	height 100%

.main-slider-txt-wrap
	margin-top -15%

.main-slider-txt__row
	font-family 'Roboto'
	font-weight 900
	font-size 130px
	color greenTxt

.main-slider-txt__row1
	text-shadow: 0px 11px 12.75px rgba(49, 49, 49, 0.93);

.main-slider-txt__row2
	display inline-block
	padding 5px 10px
	font-weight 400
	color #fff
	font-size 29px
	background-color #00000061
	text-transform uppercase

.main-slider-txt__row3
	font-size 120px
	line-height 60px
	text-shadow: 0px 11px 12.75px rgba(49, 49, 49, 0.93);
