mixin main-slider()
	+b.main-slider&attributes(attributes)
		block
		.main-slider-txt.g-container
			.main-slider-txt-wrap
				.main-slider-txt__row.main-slider-txt__row1 Бамбук
				.main-slider-txt__row.main-slider-txt__row2 информационно-научный
				.main-slider-txt__row.main-slider-txt__row3
					span.clo-fff портал о 
					| Китае
			
