head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	// Шрифты
	link(href='https://use.fontawesome.com/releases/v5.0.10/css/all.css' rel='stylesheet')
	link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,900" rel="stylesheet")
	// Стили
	link(href='/assets/styles/app.min.css' rel='stylesheet')
