mixin footer()
	+b.footer&attributes(attributes)
		block
		.footer__top-bg
			.footer__top.container
				.footer__cols
					.footer__col.footer__col-1
						img(src='images/logo.png').footer__logo-img
						.footer__txt Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык
					.footer__col
						.footer__phones
							.footer__title Контакты	
							.nav__cont-phone.nav__cont-phone-footer +375 29 123 45 67
							.nav__cont-phone.nav__cont-phone-footer.nav__cont-phone-footer-2(style= "background-image: none;") +375 29 785 43 21
							.nav__cont-mail.nav__cont-mail-footer info@bambuk.com
						.footer__socials
							.footer__title Мы в социальных сетях
							.footer__socials-icons
								img(src='images/social-vk.png').footer__socials-icon
								img(src='images/social-skype.png').footer__socials-icon
								img(src='images/social-inst.png').footer__socials-icon
								img(src='images/social-fb.png').footer__socials-icon
					.footer__col
						ul.footer__nav
							li
								a(href='#').footer__nav-item-a Законы КНР
							li
								a(href='#').footer__nav-item-a.active Бюро переводов
							li
								a(href='#').footer__nav-item-a Полезные ссылки
							li
								a(href='#').footer__nav-item-a Китаеведы, НИИ
							li
								a(href='#').footer__nav-item-a Переводчикам
							li
								a(href='#').footer__nav-item-a Госстандарты КНР
							li
								a(href='#').footer__nav-item-a Праздники и традиции Китая
							li
								a(href='#').footer__nav-item-a О нас
			.footer__separator-wrap.container
				.footer__separator
			.footer__copyright copyright @2018 Все права защищены
		.footer__bottom
